﻿/*
Test style for guest book
*/
* {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}

nav {
    line-height: 30px;
    background-color: #eeeeee;
    float:left;
    height: 100%;
    width: 100px;
    padding: 5px;
}

section {
    width: 90%;
    float: left;
    padding: 10px;
}

footer {
    background-color: black;
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;
}

a {
    text-decoration: none;
    color: #353535;
}

a:hover {
    text-decoration: none;
}

#container {
    padding: 100px 10px;
    text-align: center;
}

#gb-table-all {
    width: 100%;
}

#gb-add-post {

}

th, td {
    padding: 5px;
    text-align: left;
    font-size: 11pt;
}

td:first-child {
    width: 5%;
}

td {
    width: 16%;
}

tr:hover {
    background-color: #f5f5f5
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    background-color: #4a74af;
    color: white;
}

th > span:before {
    float: right;
    right: 0;
    font-family: "Tahoma";
    content: 'V';
    display: block;
    font-style: normal;
    font-size: 10pt;
}

#gb-add-post > label {
    display: block;
    min-width: 100px;
}

.active > a {
    font-size: 20px;
    color: #4a74af;
    border: 1px solid #4a74af;
    border-radius: 2px;
    padding: 2px 8px;
}

.pagination {
    text-align: center;
    margin: 0 auto;
}

.pagination > li {
    float: left;
    display: block;
    padding: 10px
}

.pagination > li > a {
    font-size: 16px;
    font-family: "Comic Sans MS", "Monotype Corsiva";
}

.rotate {
    /* Safari */
    -webkit-transform: rotate(-180deg);
    /* Firefox */
    -moz-transform: rotate(-180deg);
    /* IE */
    -ms-transform: rotate(-180deg);
    /* Opera */
    -o-transform: rotate(-180deg);
}

.slide-panel .gb-add {
    color: #4a74af;
    font-size: 18px;
    margin: 15px;
    display: block;
    float: left;
}

.slide-panel .gb-add:before {
    color: #4a74af;
    font-size: 22px;
    content: '+'

}

input, textarea {
    color: #4a74af;
}
input {
    height: 30px;
    font-size: 18px;
}
textarea{
    font-size: 14px;
}

input[type=submit], button {
    background-color: #4a74af;
    color: white;
    font-size: 16px;
    padding: 5px;
    min-height: 45px;
}

input[type=button] {
    background-color: rgba(24, 58, 48, 0.51);
    color: white;
    font-size: 16px;
    padding: 5px;
    min-height: 45px;
}

.captcha {
    padding: 10px;
    min-height: 25px;
    width:120px;
}

button {
    width: 45px;
    height: 30px;
}

.slide-panel {
    padding-bottom: 20px;
}

.slide-panel form {
    text-align: center;
    padding-bottom: 20px;
    margin: 0 auto;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.error
{
    color:red;
    display: block;
}

#gb-captcha{
    margin-top: 15px;
    margin-left: 5px;
}

.export{
    display: block;
    width: 35px;
    height: 35px;
    background-image: url('/images/excel.png');
    background-size: cover;
}

.slide-panel a
{
    float: right;
    margin: 10px;
    font-size: 8pt;
}



